<footer class = "footer">
  <div class = "container">
    <div class='row mx-auto'>
      <div class = "col-md-10">
          <h2 class="mt-2 cantata">poke_share</h2>
          <h5>Copyright © poke_share</h5>
      </div>
    </div>
  </div>
</footer>